docker-compose>=1.23.1
plumbum
rainbow_logging_handler
python-slugify
# Only for solving installation issue with pip that fail to
# solve the version of request compatible with docker and docker-compose
requests<3,>=2.20.0
importlib-metadata; python_version >= '3.10'
