networks:
  default:
    external:
      name: dy
volumes:
  py3o_tmp:
services:
  mariadb:
    optional: Add magento server (with connector) ?
    image: paintedfox/mariadb
    environment:
      - USER=magento
      - PASS=magento
    ports:
      - 3306:3306
    volumes:
      - .mariadb/data/:/data
  magento:
    optional: Add magento server (with connector) ?
    environment:
      - DB_ENV_USER=magento
      - DB_ENV_PASS=magento
    expose: 80
    image: akretion/docker-magento
    ports:
      - 80:80
    links:
      - mariadb:db
      - memcached:cache
    volumes:
      - .magento/firstrun:/firstrun
      - .magento/www:/var/www
  memcached:
    optional: Add magento server (with connector) ?
    image: sylvainlasnier/memcached
    ports:
      - 11211:11211
  py3ofusion:
    optional: Add py3o reports server
    image: xcgd/py3o.fusion
    links:
      - "py3orenderserver"
  py3orenderserver:
    optional: Add py3o reports server
    image: xcgd/py3oserver-docker
    links:
      - oooserver
    volumes:
      - py3o_tmp:/tmp
  oooserver:
    optional: Add py3o reports server
    image: xcgd/libreoffice
    volumes:
      - py3o_tmp:/tmp
  metabase:
    optional: metabase is Web tools for BI with dashboard
    expose: 3000
    image: metabase/metabase
    environment:
      - MB_DB_FILE=/file/metabase.db
    links:
      - db
    volumes:
      - .:/file
  firefox:
    optional: Selenium Standalone with Firefox installed and runs a VNC server
    hostname: firefox
    image: "selenium/standalone-firefox-debug"
    ports:
      - "4444:4444"
      - "5900:5900"
    volumes:
    - /dev/shm:/dev/shm
  pgadmin:
    optional: Pgadmin v4 is postgresql Web GUI
    expose: 5050
    image: fenglc/pgadmin4
    links:
      - db
  adminer:
    optional: Adminer, RDBMS Web GUI (including Postgresql) with usability and perf
    image: adminer
    expose: 8080
    links:
      - db
  db:
    image: quay.io/akretion/postgresql:10
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_DB=db
    volumes:
      - .db/:/var/lib/postgresql/data
  mailcatcher:
    optional: Mailcatcher is a fake mail server
    expose: 1080
    image: akretion/lightweight-mailcatcher
  odoo:
    build: odoo
    expose: 8069
    environment:
      - PYTHONDONTWRITEBYTECODE=True
      - LOCAL_USER_ID=$UID
      - DB_USER=odoo
      - DB_PASS=odoo
      - DB_NAME=db
      - RUNNING_ENV=dev
      - MARABUNTA_MODE=demo
    links:
      - db
    volumes:
      - ./odoo:/odoo
      - ./data/addons:/data/odoo/addons
      - ./data/filestore:/data/odoo/filestore
      - ./data/sessions:/data/odoo/sessions
version: '3'
